.header {
  position: fixed; top: 0px; left: 0px; right: 0px;
  height: max-content; padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: white;
  align-items: center;
}